<!DOCTYPE html>
<html ng-app="bookSearch">

<head>
    <script src="script/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="./script/angular.min.js"></script>

    <script src="book.js"></script>

    <title>Book Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="script/bootstrap.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="script/pure-min.css">

</head>

<body ng-controller="bookController">


    <h2>Welcome {{currentUser}}</h2>

    <div>
        <form class="pure-form">
            <fieldset>

                <input type="email" placeholder="Email" ng-model="userInfo.email">
                <input type="password" placeholder="Password" ng-model="userInfo.password">

                <button type="submit" class="pure-button pure-button-primary" ng-click="register();">Register</button>

                <button type="submit" class="pure-button pure-button-primary" ng-click="login();">Log in</button>

            </fieldset>

        </form>
    </div>

    <div>
        <form class="pure-form">
            <fieldset>

                <input type="text" placeholder="book name" ng-model="query">

                <button type="submit" class="pure-button pure-button-primary" ng-click="search();">Search</button>


            </fieldset>
        </form>
    </div>


    <div>
        <h3>Search Result</h3>
        <table class="pure-table pure-table-bordered">

            <thead>
            </thead>
            <tr ng-repeat="bookInfo in userInfo.searchResults">

                <td><a href="{{bookInfo.volumeInfo.infoLink}}">{{bookInfo.volumeInfo.title}}</a>
                </td>
                <td>{{bookInfo.volumeInfo.authors[0]}}</td>
                <td>{{bookInfo.volumeInfo.publisher}}</td>
                <td>{{bookInfo.volumeInfo.publishedDate}}</td>
                <td>
                    <button class="button-success pure-button" ng-click="like(bookInfo.id)" style="opacity: {{bookInfo.inList?0.5:1.0}}">Like</button>
                </td>
            </tr>

        </table>
    </div>


    <div>
        <h3>Like List</h3>
        <table class="pure-table pure-table-bordered">

            <thead>
            </thead>
            <tr ng-repeat="bookInfo in userInfo.likelist">
                <td><a href="{{bookInfo.volumeInfo.infoLink}}">{{bookInfo.volumeInfo.title}}</a>
                </td>
                <td>{{bookInfo.volumeInfo.authors[0]}}</td>
                <td>{{bookInfo.volumeInfo.publisher}}</td>
                <td>{{bookInfo.volumeInfo.publishedDate}}</td>
                <td>
                    <button class="button-success pure-button" ng-click="remove(bookInfo.id)">Remove</button>
                </td>
            </tr>

        </table>
    </div>

    <script src="script/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>